services:
  db-veterinaria:
    image: mysql:8.0
    container_name: db-veterinaria-mysql
    restart: unless-stopped
    ports:
      - "${DB_HOST_PORT}:3306"
    environment:
      # Lee las credenciales del archivo .env
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ./init-scripts:/docker-entrypoint-initdb.d


  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

    # (Mentor): 2. Añadimos el Broker de Kafka, que depende de Zookeeper
  kafka:
      image: confluentinc/cp-kafka:7.4.0
      container_name: kafka-broker
      ports:
        # (Mentor): Exponemos el puerto 9092 para que Spring Boot se conecte
        - "9092:9092"
      depends_on:
        - zookeeper # <-- Le dice a Docker que inicie Zookeeper primero
      environment:
        KAFKA_BROKER_ID: 1
        KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181' # <-- Se conecta al servicio Zookeeper
        KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
        KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
        KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
        # (Mentor): Las siguientes líneas son para transacciones, como en el video
        KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
        KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
